<!-- templates/pages/verify_password.html -->

{% extends 'layouts/_base.html' %}

{% block title %}Verify Password - URL Shortener{% endblock title%}

{% block content %}
<main class="max-w-96 h-screen mx-auto p-6 flex flex-col justify-center items-center">
  <h1 class="font-bold text-primary text-3xl text-center mb-8">Enter the password</h1>

  <form method="POST" class="flex flex-col w-full gap-4">
    {% csrf_token %}
    <div class="space-y-2">
      <div class="relative">
        <input
          required
          id="password-input"
          type="password"
          name="password"
          placeholder="********"
          value="{{ request.POST.password }}"
          class="bg-neutral-50 hover:bg-neutral-100 border border-neutral-300 rounded-xl px-4 py-2 w-full ring-2 ring-primary outline-0"
        />
        <button
          type="button"
          id="toggle-password"
          class="absolute top-1/2 right-4 transform -translate-y-1/2"
          onclick="togglePassword()"
        >
          👁️
        </button>
      </div>
      {% if error_message %}
      <p class="text-sm text-center text-red-600">{{ error_message }}</p>
      {% endif %}
    </div>


    <button
      type="submit"
      class="bg-primary text-white font-medium py-2 px-4 rounded-xl"
    >
      Access
    </button>
  </form>
</main>

<script>
  function togglePassword() {
    const passwordInput = document.getElementById("password-input");
    const passwordToggle = document.getElementById("toggle-password");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      passwordToggle.innerText = "🙈";
    } else {
      passwordInput.type = "password";
      passwordToggle.innerText = "👁️";
    }
  }
</script>
{% endblock %}
