<!-- templates/pages/verify_password.html -->

{% extends 'layouts/_base.html' %}

{% block title %}Verify Password - URL Shortener{% endblock title%}

{% block content %}
<main class="max-w-96 h-screen mx-auto p-6 flex flex-col justify-center items-center gap-10">
  <!-- Title -->
  <h1
    class="font-bold text-primary text-3xl text-center mb-8"
  >
    Enter the password
  </h1>

  <!-- Form -->
  <form method="POST" class="flex flex-col w-full gap-4">
    {% csrf_token %}
    <div class="space-y-2">
      <div class="relative">
        <input
          required
          id="password-input"
          type="password"
          name="password"
          placeholder="********"
          value="{{ request.POST.password }}"
          class="bg-neutral-50 hover:bg-neutral-100 border border-neutral-300 rounded-xl px-4 py-2 w-full ring-2 ring-primary outline-0"
        />
        <button
          type="button"
          id="toggle-password"
          class="absolute top-1/2 right-4 transform -translate-y-1/2"
          onclick="togglePassword()"
        >
          <svg id="eye-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-black size-4">
            <path d="m15 18-.722-3.25"/>
            <path d="M2 8a10.645 10.645 0 0 0 20 0"/>
            <path d="m20 15-1.726-2.05"/>
            <path d="m4 15 1.726-2.05"/>
            <path d="m9 18 .722-3.25"/>
          </svg>
        </button>
      </div>
      {% if error_message %}
      <p class="text-sm text-center text-red-600">{{ error_message }}</p>
      {% endif %}
    </div>
    <button
      type="submit"
      class="bg-primary text-white font-medium py-2 px-4 rounded-xl"
    >
      Access
    </button>
  </form>

  <!-- Snippet -->
  <div class="relative w-full border border-neutral-300 px-4 py-3 rounded-xl flex items-center">
    <pre id="code-snippet" class="flex justify-start">
      <code class="text-sm font-mono">{{ alias_url }}</code>
    </pre>
    <button
      type="button"
      onclick="copyCode()"
      id="copy-button"
      class="absolute right-4 rounded-full text-xs transition-all duration-200 active:scale-90 active:animate-pulse"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-black size-4">
        <rect width="14" height="14" x="8" y="8" rx="2" ry="2"/>
        <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/>
      </svg>
    </button>
  </div>
</main>

<script>
  function togglePassword() {
    const passwordInput = document.getElementById("password-input");
    const eyeIcon = document.getElementById("eye-icon");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      eyeIcon.innerHTML = `
        <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/>
        <circle cx="12" cy="12" r="3"/>
      `;
    } else {
      passwordInput.type = "password";
      eyeIcon.innerHTML = `
        <path d="m15 18-.722-3.25"/>
        <path d="M2 8a10.645 10.645 0 0 0 20 0"/>
        <path d="m20 15-1.726-2.05"/>
        <path d="m4 15 1.726-2.05"/>
        <path d="m9 18 .722-3.25"/>
      `;
    }
  }

  function copyCode() {
    const codeElement = document.querySelector("#code-snippet code");
    navigator.clipboard.writeText(codeElement.innerText).then(() => {
      const button = document.getElementById("copy-button");
      button.innerHTML = `
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-black size-4">
          <path d="M20 6 9 17l-5-5"/>
        </svg>
      `;
      setTimeout(() => {
        button.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-black size-4">
            <rect width="14" height="14" x="8" y="8" rx="2" ry="2"/>
            <path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/>
          </svg>
        `;
      }, 5000);
    });
  }
</script>
{% endblock %}
