@import "tailwindcss";
@plugin "./hero.ts";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;

  --color-primary: #8a2be2;
  --color-secondary: #ff9100;
}

html {
  @apply bg-white text-neutral-950 selection:bg-primary selection:text-white;
}

body {
  font-family: var(--font-outfit);
}

.code {
  font-family: var(--font-roboto-mono);
}
