# Enviroment
# If you're in production, remember to set DEBUG to False
# and ENVIRONMENT to production
DEBUG=True
# Examples: local, testing, production
ENVIRONMENT=local

# Base
# Secret key generator: https://djecrety.ir/
SECRET_KEY=<key>
API_KEY=<key>
DOMAIN=<domain-name>
PROYECT_NAME=<project-name>

# Database
POSTGRES_DB=<db-name>
POSTGRES_USER=<db-user>
POSTGRES_PASSWORD=<db-password>
POSTGRES_HOST=<db-host>
POSTGRES_PORT=<db-port>

# Auth
AUTH_COOKIE_SECURE=False # Prod True
REDIRECT_URLS=<provider-url>,<provider-url>
GOOGLE_AUTH_KEY=<key>
GOOGLE_AUTH_SECRET_KEY=<key>
FACEBOOK_AUTH_KEY=<key>
FACEBOOK_AUTH_SECRET_KEY=<key>

# Platforms
LEMON_SQUEEZY_SECRET_KEY=<key>
LEMON_SQUEEZY_TOKEN=<token>
KOFI_SECRET_KEY=<key>

# Ports and Hosts
ALLOWED_HOSTS=<url>,<url>
INTERNAL_IPS=<url>,<url>
CORS_ALLOWED_ORIGINS=<url>,<url>

# Email
AWS_SES_ACCESS_KEY_ID=<id>
AWS_SES_SECRET_ACCESS_KEY=<key>
AWS_SES_REGION_NAME=<region>
AWS_SES_FROM_EMAIL=<sender-email>

# Webhooks
DISCORD_SUPPORT_WEBHOOK=<url>
DISCORD_FEEDBACK_WEBHOOK=<url>
DISCORD_DONATION_WEBHOOK=<url>

# Swagger UI and Redoc
LICENCE_NAME=<name>
LICENCE_URL=<url>
CONTACT_NAME=<name>
CONTACT_URL=<url>
